#images{
    border-radius: 20px;
}

.padding {
    padding: 20px 20px;
}


body {
  background-color: #210439;
}

p, h1, h2{
  color: white;
}

/* Header */

#society_logo {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  position: relative;
  left: 50px;
}

.dark-mode {
  background-color: white;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode p{
  color: black;
}

#DarkModeButton {
  position: relative;
  left: 650px;
  background-color: white;
  color: black;
}

nav>ul>li>a {
  color: white;
  background-color: purple;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

nav>ul>li {
    float: left;
    padding: 20px 40px;
    list-style-type: none;
    color: white;
    background-color: purple;
}

 nav>ul>li:hover {
  background-color: white;
}

nav>ul>li:hover a{
  color: black;
  background-color: white;
}

#title {
  background-color: #9376AC;
  float: left;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
}

#title h1, p, u{
  background-color: #9376AC;
}

/* Images/Videos */

#content {
  float: left;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
  background-color: #9376AC;
}

#content p {
  background-color: #9376AC;
}

#content a {
  background-color: #9376AC;
}

/* Footer */

#footer {
  float: left;
  margin-bottom: 10px;
  background-color: purple;
  text-align: center;
  width: 1995px;
  position: relative;
  left: -100px;
}

#footer a{
  background-color: purple;
  padding-right: 50px;
  margin-bottom: 10px;
  float: left;
  position: relative;
  left: 780px;
}

#footer p{
  background-color: purple;
  text-align: center;
  position: relative;
}
